[mysqld]
datadir        = /var/lib/mysql
socket	       = /var/lib/mysql/mysql.sock
pid-file	   = /var/lib/mysql/mysql.pid
log-error	   = /var/log/mariadb/error.log
user           = mysql
symbolic-links = 0
bind-address    = ::
