[mysqld]
datadir        = /var/lib/mysql
socket	       = /var/lib/mysql/mysqld.sock
pid-file	   = /var/lib/mysql/mysqld.pid
log-error	   = /var/log/mariadb/error.log
user           = mysql
symbolic-links = 0
bind-address    = ::
